@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="/css/AdminEmploy.css"/>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>UserNaem</th>
        <th>Competence</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>John</td>
        <td>Competence</td>
        <td>
            <button><i class="fa-solid fa-pen"></i></button>
            <button>
                <i class="fa-regular fa-trash-can" style="color: #e91616"></i>
            </button>
        </td>
    </tr>
    <tr>
        <td>Mary</td>
        <td>Competence</td>
        <td>
            <button><i class="fa-solid fa-pen"></i></button>
            <button>
                <i class="fa-regular fa-trash-can" style="color: #e91616"></i>
            </button>
        </td>
    </tr>
    <tr>
        <td>July</td>
        <td>Competence</td>
        <td>
            <button><i class="fa-solid fa-pen"></i></button>
            <button>
                <i class="fa-regular fa-trash-can" style="color: #e91616"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>