@using MyProject.Models.Model
@using MyProject.Models.Dtos

@{
    Layout = "_Layout";
    var list = ViewBag.List as List<EmployeeDto>;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>UserName</th>
            <th>KPI</th>
            <th>Evalute</th>
        </tr>
    </thead>
    <tbody>
    @if (list != null)
    {
        foreach (var user in list)
        {
            
            <tr>
                <td>@user.UserName</td>
                
                    @{
                        var kpi = @user.Revenue / @user.DayOfMonth;
                        <td>@kpi</td>
                        if (kpi >= 333333)
                        {
                            <td>Tốt</td>
                        }
                        else if (100000 <= kpi && kpi < 333333)
                        {
                            <td>Khá</td>
                        }
                        else
                        {
                            <td>Trung bình</td>
                        }
                    }
         
            </tr>
        }
    }
    
    </tbody>
</table>